@import "__variables";

header {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
    background: #f5f5f5;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-color;

    .header__container {
        padding: 40px;
        margin-top: -45px;



        .hero__logo {
            text-align: center;
            margin-bottom: 35px;

            img {
                border-bottom: 3px solid black;
                padding: 15px;

                @media screen and (min-width: 810px) {
                    max-width: 90%;
                }
            }
        }
    }
}